<!DOCTYPE HTML>

<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/about_us.css" />

	</head>
	<body class="is-preload">


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="about-frame">
						<header>
							<div id="avatar">
							<span class="avatar"><img src="/static/css/images/me1.png" style="width:300px;height:auto;" alt="" /></span>
							</div>
							<p>Backend Developer</p>
							<h1>Divesh Singh</h1>
							<p>
								<h2>Student</h2>
								A pinch of peculiarity, a dash of smartness and a barrel of curiosity.
							</p>
						</header>

						<footer>
							<ul class="icons">
								<!--li><a href="#" class="fa-twitter">Twitter</a></li-->
								<li><a href="#wrapper" class="fa-instagram">Instagram</a></li>
								<li><a href="#wrapper" class="fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>


					<section id="main" class="about-frame">
						<header>
							<div id="avatar">
							<span class="avatar"><img src="/static/css/images/me2.jifif" style="width:300px;height:auto;" alt="" /></span>
							</div>
							<p>Frontend Developer</p>
							<h1>Arpit Mishra</h1>
							<p>
								<h2>Student</h2>
								Dead Luck.
							</p>
						</header>

						<footer>
							<ul class="icons">
								<!--li><a href="#" class="fa-twitter">Twitter</a></li-->
								<li><a href="#wrapper" class="fa-instagram">Instagram</a></li>
								<li><a href="#wrapper" class="fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>

					<section id="main" class="about-frame">
						<header>
							<div id="avatar">
							<span class="avatar"><img src="/static/css/images/me3.jifif" style="width:300px;height:auto;" alt="" /></span>
							</div>
							<p>Frontend Developer</p>
							<h1>Devendra Yadav</h1>
							<p>
								<h2>Student</h2>
								I love you.
							</p>
						</header>

						<footer>
							<ul class="icons">
								<!--li><a href="#" class="fa-twitter">Twitter</a></li-->
								<li><a href="#wrapper" class="fa-instagram">Instagram</a></li>
								<li><a href="#wrapper" class="fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>

			</div>


		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>